<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: header('EmpleosApp | Categoria Nueva')}"></head>

  <body class="bg-light">
    <div th:replace="~{fragments/menu :: navbar}"></div>

    <main role="main" style="padding-top: 50px;">    
      <div class="container bg-white py-5 mb-5"> 
        <div class="card">
          <h4 class="card-header fw-bold"> Datos de la categoría </h4>              
          <div class="card-body">
            <form th:action="@{/categorias/save}" method="post">     

              <div class="row mb-4">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba el nombre de la categoria" required="required">
                  </div>
                </div>                
              </div> 

              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" name="descripcion" id="descripcion" rows="2"></textarea>
                  </div> 
                </div>                
              </div> 

              <hr>

              <button type="submit" title="Guardar el registro." class="btn btn-primary">Guardar</button>  
            </form>
          </div>
        </div>
      </div> 
    </main>

    <footer class="footer">
      <div class="container">
        <p>
          &copy; 2026 EmpleosApp, Inc. | WebApp Desarrollada con Spring Boot 4.0.0 | Autor: Fernando Romero De La Cruz | &middot; <a href="#">Privacy</a>
          &middot; <a href="#">Terms</a>
        </p>
      </div>
    </footer>

	  <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
