<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: header('EmpleosApp | Categoria Nueva')}"></head>

  <body class="bg-light">
    <div th:replace="~{fragments/menu :: navbar}"></div>

    <main role="main" style="padding-top: 50px">
      <div class="container bg-white py-5 mb-5">
        <div class="card">
          <h4 class="card-header fw-bold">Datos de la categoría</h4>
          <div class="card-body">
            <form th:action="@{/categorias/save}" method="post">
              <div class="row mb-4">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input
                      type="text"
                      class="form-control"
                      id="nombre"
                      name="nombre"
                      placeholder="Escriba el nombre de la categoria"
                      required="required" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" name="descripcion" id="descripcion" rows="2"></textarea>
                  </div>
                </div>
              </div>

              <hr />

              <button type="submit" title="Guardar el registro." class="btn btn-primary">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
  </body>
</html>
