<th:block th:replace="~{fragments/top :: top}" />

<main class="container py-4 my-4">

	<div class="card shadow-sm">
		<div class="card-header d-flex justify-content-between align-items-center bg-light">
			<h2 class="h5 fw-bold mb-0 text-primary">
				<i class="fas fa-tags me-1" aria-hidden="true"></i> Listado de Categorías
			</h2>
			<a class="btn btn-primary" th:href="@{/categorias/create}" title="Crear nueva Categoría">
				<i class="fas fa-plus" aria-hidden="true"></i> Nueva
			</a>
		</div>

		<div class="card-body">
			<div th:if="${msg != null}" class="alert alert-success" th:text="${msg}"></div>

			<div class="table-responsive">
				<table class="table table-hover table-bordered table-light align-middle">
					<caption>Listado de categorias registradas.</caption>
					<thead class="table-secondary">
						<tr class="text-center">
							<th>ID</th>
							<th>Nombre</th>
							<th>Descripcion</th>
							<th>Estado</th>
							<th>Acciones</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="cat : ${categorias}" class="text-center">
							<td th:text="${cat.id}"></td>
							<td th:text="${cat.nombre}"></td>
							<td th:text="${cat.descripcion}"></td>
							<td>
								<span class="badge" th:classappend="${cat.estado == 'A'} ? 'text-bg-success' : 'text-bg-danger' "
									th:text="${cat.estado == 'A'} ? 'Activa' : 'Inactiva' "> </span>
							</td>
							<td>
								<a href="#" class="btn btn-warning btn-sm" id="btnEditar" title="Editar el registro.">
									<i class="fas fa-pencil-alt" aria-hidden="true"></i>
								</a>
								<a href="#" class="btn btn-danger btn-sm" id="btnEliminar" title="Eliminar el registro.">
									<i class="fas fa-trash" aria-hidden="true"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
<th:block th:replace="~{fragments/scripts :: scripts}" />

</body>
</html>
