<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: header('EmpleosApp | Categoria Nueva')}"></head>

  <body class="bg-light">
    <header th:replace="~{fragments/menu :: navbar}"></header>

    <main class="container py-5">
      <div class="container">
        <h1 class="display-4 fw-bold text-primary text-center py-2 my-4">Categorías Disponibles</h1>
      </div>

      <table class="table table-hover table-bordered mt-5">
        <thead class="table-secondary">
          <tr>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="tmpCategoria : ${catNueva}">
            <td th:text="${tmpCategoria.nombre}"></td>
            <td th:text="${tmpCategoria.descripcion}"></td>
          </tr>
        </tbody>
      </table>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
  </body>
</html>
