<div th:replace="~{fragments/top :: top}"></div>
	<main>
		<!-- Buscador principal -->
		<section class="bg-secondary border-bottom shadow-sm py-5 mb-5">
			<div class="container">
				<h1 class="display-5 fw-bold text-center text-white">Encuentra el trabajo que encaja contigo.</h1>
				<p class="fs-5 text-center mb-4 text-white">Puedes buscar por descripción y categoría.</p>

				<form class="row g-2 align-items-center justify-content-center" th:action="@{/search}" method="get">
					<div class="col-12 col-md-5">
						<input type="text" class="form-control" name="query" placeholder="Cargo o empresa">
					</div>

					<div class="col-12 col-md-4">
						<select class="form-select" name="categoria">
							<option value="" selected>Seleccione una categoría</option>
							<option value="1">Ventas</option>
							<option value="2">Contabilidad</option>
							<option value="3">Transporte</option>
							<option value="4">Informática</option>
							<option value="5">Construcción</option>
						</select>
					</div>

					<div class="col-12 col-md-3 col-lg-2">
						<button type="submit" class="btn btn-primary w-100">Buscar empleos</button>
					</div>
				</form>
			</div>
		</section>

		<!-- Lista de ofertas destacadas -->
		<div class="container py-2">
			<h2 class="fw-bold text-primary text-center display-4 mb-4">Ofertas destacadas del día</h2>

			<div class="card mb-4 shadow-sm" th:each="vacante : ${vacantes}">
				<div class="row g-0 align-items-center p-3">
					<div class="col-md-3 text-center mb-3 mb-md-0">
						<img class="img-fluid rounded" th:src="@{'/images/webp/' + ${vacante.imagen}}"
							style="max-height: 150px; object-fit: contain;">
					</div>
					<div class="col-md-9">
						<div class="card-body py-0">
							<h3 class="card-title h2 fw-bold" th:text="${vacante.nombre}">Nombre de la Vacante</h3>

							<p class="card-text mb-1">
								<strong>Categoría:</strong>
								<span class="badge bg-secondary" th:text="'N/A'">
									N/A
								</span>
							</p>

							<p class="card-text text-muted mb-2">
								<small>
									<strong>Publicado:</strong>
									<span th:text="${#dates.format(vacante.fecha, 'dd/MM/yyyy')}">2026-01-01</span>
								</small>
							</p>

							<p class="card-text" th:text="${vacante.descripcion}"></p>

							<a class="btn btn-primary" th:href="@{/vacantes/view/{id}(id=${vacante.id})}">Ver detalles <i class="fa-solid fa-angles-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="~{fragments/footer :: footer}"></footer>

	<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>

</html>