<div th:replace="~{fragments/top :: top}"></div>

    <main role="main" class="pt-5">
      <div class="container">
        <h1 class="display-4 fw-bold text-primary text-center py-2 my-4">Vacantes Disponibles</h1>

        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead class="table-secondary">
              <tr class="text-center">
                <th>LOGO</th>
                <th>ID</th>
                <th>PUESTO</th>
                <th>DESCRIPCION</th>
                <th>FECHA DE PUBLICACION</th>
                <th>SALARIO</th>
                <th>DESTACADA</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="tmpVacante : ${vacantes}">
                <td class="text-center">
                  <img th:src="@{'/images/webp/' + ${tmpVacante.imagen}}" width="50" height="50" alt="Logo" />
                </td>
                <td th:text="${tmpVacante.id}" class="text-center"></td>
                <td th:text="${tmpVacante.nombre}"></td>
                <td th:text="${tmpVacante.descripcion}"></td>
                <td th:text="${tmpVacante.fecha}"></td>
                <td th:text="${tmpVacante.salario}"></td>
                <td class="text-center">
                  <span th:if="${tmpVacante.destacada == 1}" class="badge text-bg-success">Sí</span>
                  <span th:unless="${tmpVacante.destacada == 1}" class="badge text-bg-danger">No</span>
                </td>
                <td class="text-center">
                  <!-- @PathVariable syntax -->
                  <a
                    th:href="@{/vacantes/view/{id}(id=${tmpVacante.id})}"
                    class="btn btn-success btn-sm"
                    title="Ver detalle">
                    <i class="fa-solid fa-eye"></i>
                  </a>
                  <!-- @RequestParam syntax -->
                  <a th:href="@{/vacantes/delete(id=${tmpVacante.id})}" class="btn btn-danger btn-sm" title="Eliminar">
                    <i class="fa-solid fa-trash-can"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
  </body>
</html>
